Options -MultiViews
RewriteEngine On

# Если файл или папка существуют, отдаем их напрямую (css, js, images)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Все остальное отправляем на index.php
RewriteRule ^ index.php [QSA,L]